<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wang.vire.mapper.ApplicationMapper">
    <select id="queryApplicationByTime" resultType="Application">
        select *
        from application
        where #{applicationTime} >= application_time and type='0'
        and audit_status='2' and car_id=#{carId}
        order by application_time DESC
    </select>

</mapper>